<form>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="diff-from">From</label>
        <textarea id="diff-from" class="form-control diff" rows="5"></textarea>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="diff-to">To</label>
        <textarea id="diff-to" class="form-control diff" rows="5"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <div class="form-inline">
          <div class="custom-control custom-radio mr-4">
            <input type="radio" class="custom-control-input" id="semantic-cleanup" name="cleanup" data-method="semantic">
            <label class="custom-control-label" for="semantic-cleanup">Semantic Cleanup</label>
          </div>
          <div class="custom-control custom-radio mr-4">
            <input type="radio" class="custom-control-input" id="efficiency-cleanup" name="cleanup" data-method="efficiency">
            <label class="custom-control-label" for="efficiency-cleanup">Efficiency Cleanup</label>
          </div>
          <div class="custom-control custom-radio mr-4">
            <input type="radio" class="custom-control-input" id="no-cleanup" name="cleanup">
            <label class="custom-control-label" for="no-cleanup">No Cleanup</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Insertions</th>
      <th>Deletions</th>
      <th>No changes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="insertion-count" style="color:green;"></td>
      <td id="deletion-count" style="color:red"></td>
      <td id="no-changes-count"></td>
    </tr>
  </tbody>
</table>

<pre id="diff"></pre>