<form>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="leven-from">From</label>
        <textarea id="leven-from" class="form-control leven" rows="5"></textarea>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="leven-to">To</label>
        <textarea id="leven-to" class="form-control leven" rows="5"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <div class="form-inline">
          <div class="custom-control custom-checkbox mr-4">
            <input type="checkbox" class="custom-control-input" id="ignore-case" data-change="leven">
            <label class="custom-control-label" for="ignore-case">Ignore Case</label>
          </div>
          <div class="custom-control custom-checkbox mr-4">
            <input type="checkbox" class="custom-control-input" id="enforce-first" data-change="leven">
            <label class="custom-control-label" for="enforce-first">Enforce First Character</label>
          </div>
          <label for="threshold" class="mr-1">Threshold</label>
          <input type="number" id="threshold" class="form-control mr-4" value="50" min="1" max="100" step="1" data-change="leven">
          <label for="threshold" class="mr-1">Truncate After</label>
          <input type="text" id="truncate" class="form-control" data-change="leven">
        </div>
      </div>
    </div>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th class="text-right">Similarity (%)</th>
    </tr>
  </thead>
  <tbody id="leven">
  </tbody>
</table>